@using TestApplication.Models
@model UserTool

<h2>All users</h2>
<label>@Html.ActionLink("Add new user", "Edit", "UserTool", new { id = 0 }, null)</label>

@foreach (UserTool user in ViewBag.UserTools)
{
    <label style="display: inline">
        @user.Name &nbsp; 
        @user.Description &nbsp;  
        @Html.ActionLink("Edit", "Edit", "UserTool", new { id = user.Id }, null)
        @Html.ActionLink("Delete", "Delete", "UserTool", new { id = user.Id }, null)
    </label>
    <br />
}

