@model TestApplication.Models.User

@{
    ViewBag.Title = "Edit user";
}

<h2>Edit user</h2>

<div>
    @Html.ValidationSummary(false, "There are some errors!")
</div>

@using (Ajax.BeginForm("Save", "User", new AjaxOptions { HttpMethod = "Post" }))
{
    <div>
        @Html.LabelFor(x => x.FirstName)
        @Html.EditorFor(x => x.FirstName)
    </div>
    <div>
        @Html.LabelFor(x => x.LastName)
        @Html.EditorFor(x => x.LastName)
    </div>
    <div>
        @Html.LabelFor(x => x.Birthday)
        @Html.EditorFor(x => x.Birthday)
    </div>
    <div>
        <button type="submit" class="ui-button-text">Save user</button>
        @Html.ActionLink("Cancel", "UserList", "User")
    </div>
}