@using System.Globalization
@using System.Web.Mvc.Html
@using TestApplication.Models

@model TestApplication.Controllers.UserEditorModel

@{
    ViewBag.Title = "All users";
    List<SelectListItem> collection = new List<SelectListItem>();
}

<h4>All users</h4>
<label>@Html.ActionLink("Add new user", "Edit", "User", new { id = -1 }, null)</label>

<div id="updateContainer">

    <table>

        <tr>
            <td>Name</td>
            <td>Department</td>
        </tr>

        @foreach (User user in Model.Users)
        {
            collection.Add(new SelectListItem
            {
                Text = user.FirstName,
                Value = user.Id.ToString(CultureInfo.InvariantCulture)
            });
            <tr>
                <td>
                    <label>@user.FirstName &nbsp; @user.LastName</label>
                </td>
                <td>@user.Department.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "User", new { id = user.Id }, null)</td>
                <td>@Html.ActionLink("Delete", "Delete", "User", new { id = user.Id }, null)
                </td>
            </tr>
        }

    </table>
    @Ajax.ActionLink("Show user tools by ajax", "GetTools", "User", new AjaxOptions
    {
        UpdateTargetId = "userTools",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        LoadingElementId = "preloader"
    })

    <div id="preloader" style="display: none">
        <img src="/Images/preloader.gif" width="100" />
    </div>

    <p>
        <label for="users">Find users</label>
        <input id="users" type="text" />
    </p>

    <div id="userTools">
        @if (ViewBag.Tools != null)
        {
            Html.RenderAction("GetTools", (List<UserTool>)ViewBag.Tools);
        }
    </div>
    
    <script>
        $(function($) {
            var autoCompleteUrl = '@Url.Action("SearchUser")';
            $("input#users").autocomplete({
                source: autoCompleteUrl,
                minLength: 2,
                select: function(event, ui) {
                    alert("You selected: " + ui.item.label);
                }
            });
        });
    </script>

</div>

